<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the Django application.</p>

            <!-- add naviagtions here to about and contact page -->

    <nav>
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a>
                </li>   
             </ul>
    </nav>  


    <h1>Celery: </h1>
    {% if result.id %}
        <a href="{% url 'check_result' result.id %}">Check Result</a>
    {% endif %}



</body>

</html>